<config>
  <!-- Slot Control -->
  <power v='full'/>

  <!-- User Information -->
  <passkey v='e1e89d6ea5d8e2f6e1e89d6ea5d8e2f6'/>
  <team v='234980'/>
  <user v='4imtmu5rpytp'/>

  <!-- Folding Slots -->
   <slot id='0' type='CPU'/>
   <slot id='0' type='GPU'>
    <pci-bus v='0'/>
    <pci-slot v='0'/>
  </slot>
</config>
