<config>
  <!-- Slot Control -->
  <power v='full'/>

  <!-- User Information -->
  <passkey v='7e5b7bc6a3b5f2c57e5b7bc6a3b5f2c5'/>
  <team v='234980'/>
  <user v='brohc81fs6on'/>

  <!-- Folding Slots -->
  
   <slot id='1' type='GPU'>
    <pci-bus v='0'/>
    <pci-slot v='5'/>
  </slot>
</config>
